@font-face {
    font-family: 'mikeFonts';
    src:url('../fonts/mikeFonts.eot') format('embedded-opentype'),
        url('../fonts/mikeFonts.ttf') format('truetype'),
        url('../fonts/mikeFonts.woff') format('woff'),
        url('../fonts/mikeFonts.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mikeFonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home_btn_qingchu:before {
    content: "\e900";
}
.icon-home_btn_sousuo:before {
    content: "\e901";
}
.icon-home_icon_dingwei_white:before {
    content: "\e902";
}
.icon-home_icon_gou:before {
    content: "\e903";
}
.icon-home_icon_star_none:before {
    content: "\e904";
}
.icon-home_icon_star_yellow:before {
    content: "\e905";
}
.icon-home_icon_wifi:before {
    content: "\e906";
}
.icon-jdxq_btn_fuwu:before {
    content: "\e907";
}
.icon-jdxq_btn_jiantouline_down:before {
    content: "\e908";
}
.icon-jdxq_btn_jiantouline_left:before {
    content: "\e909";
}
.icon-jdxq_btn_jiantouline_up:before {
    content: "\e90a";
}
.icon-jdxq_btn_jiatong:before {
    content: "\e90b";
}
.icon-jdxq_btn_jieshao:before {
    content: "\e90c";
}
.icon-jdxq_btn_pingjia:before {
    content: "\e90d";
}
.icon-jdxq_btn_sheshi:before {
    content: "\e90e";
}
.icon-jdxq_btn_shoucang:before {
    content: "\e90f";
}
.icon-jdxq_btn_xiangqing:before {
    content: "\e910";
}
.icon-jdxq_btn_zhence:before {
    content: "\e911";
}
.icon-jdxq_icon_time:before {
    content: "\e912";
}
.icon-scjd_icon_wujiudian:before {
    content: "\e913";
}
.icon-wddd_icon_wudingdan:before {
    content: "\e914";
}
.icon-ddxq_btn_back:before {
    content: "\e915";
}
.icon-ddxq_btn_lianxijiudian:before {
    content: "\e916";
}
.icon-ddxq_btn_lianxikefu:before {
    content: "\e917";
}
.icon-ddxq_btn_xianludaohang:before {
    content: "\e918";
}
.icon-ddxq_icon_dingwei:before {
    content: "\e919";
}
.icon-grzx_icon_guanyumike:before {
    content: "\e91a";
}
.icon-grzx_icon_kefurexian:before {
    content: "\e91b";
}
.icon-grzx_icon_shoucang:before {
    content: "\e91c";
}
.icon-grzx_icon_wodedingdan:before {
    content: "\e91d";
}
.icon-home_btn_gerenzhongxin:before {
    content: "\e91e";
}
.icon-home_btn_jiantou_down:before {
    content: "\e91f";
}
.icon-home_btn_jiantou_up:before {
    content: "\e920";
}

